<a href="https://colab.research.google.com/github/TatianaAlvarado/Clase-1/blob/main/DRUGS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
# Libraries
import numpy as np
import pandas as pd
import plotly.express as px

In [61]:
#  Save the path o the file 
p ='/content/DRUGS 26 ABRIL.xlsx'

# Read the file
d = pd.read_excel(p)

#Chek
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Region                254 non-null    object
 1    Country / Territory  254 non-null    object
 2   Treatment Year        254 non-null    int64
 3   Cannabis              254 non-null    float64
 4   Cocaine               254 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 10.0+ KB

In [62]:
d.head()

   Region       Country / Territory  Treatment Year   Cannabis   Cocaine
0  Africa                    Angola             2018  0.788358  0.025058
1  Africa                     Benin             2017  0.710000  0.130000
2  Africa              Burkina Faso             2017  0.622000  0.056000
3  Africa                Cabo Verde             2017  0.243000  0.722000
4  Africa  Central African Republic             2017  0.635539  0.005440

In [63]:
d.head(15)

    Region       Country / Territory  Treatment Year   Cannabis   Cocaine
0   Africa                    Angola             2018  0.788358  0.025058
1   Africa                     Benin             2017  0.710000  0.130000
2   Africa              Burkina Faso             2017  0.622000  0.056000
3   Africa                Cabo Verde             2017  0.243000  0.722000
4   Africa  Central African Republic             2017  0.635539  0.005440
5   Africa             Côte d'Ivoire             2017  0.307000  0.266000
6   Africa                     Ghana             2017  0.345000  0.255000
7   Africa                    Guinea             2017  0.383000  0.306000
8   Africa             Guinea-Bissau             2017  0.969000  0.031000
9   Africa                     Kenya             2019  0.698766  0.017284
10  Africa                   Liberia             2017  0.344000  0.496000
11  Africa                      Mali             2017  0.432000  0.062000
12  Africa                Mauritania             2017  0.948000  0.011000
13  Africa                Mozambique             2015  0.253886  0.028670
14  Africa                Mozambique             2019  0.688609  0.059531

In [64]:
# Me sirve para mirar si el archivo tiene algo raro
d.tail()

      Region  Country / Territory  Treatment Year   Cannabis   Cocaine
249   Europe       United Kingdom             2018  0.222805  0.176871
250  Oceania            Australia             2017  0.362000  0.007000
251  Oceania            Australia             2019  0.331903  0.014160
252  Oceania          New Zealand             2016  0.496000  0.005000
253  Oceania          New Zealand             2017  0.496000  0.005000

# **3. Cleaning**

## Column Names

In [65]:
# Change time for year
d.rename(columns = {' Country / Territory': 'Territory'}, inplace = True)
d.rename(columns = {'Treatment Year ': 'Year'}, inplace = True)
# Check
d.head()

   Region                 Territory  Year  Cannabis   Cocaine
0  Africa                    Angola  2018  0.788358  0.025058
1  Africa                     Benin  2017  0.710000  0.130000
2  Africa              Burkina Faso  2017  0.622000  0.056000
3  Africa                Cabo Verde  2017  0.243000  0.722000
4  Africa  Central African Republic  2017  0.635539  0.005440

# **Dlete Columns**

In [66]:
#d = d.drop(columns = ['Territory'])
d.head()

   Region                 Territory  Year  Cannabis   Cocaine
0  Africa                    Angola  2018  0.788358  0.025058
1  Africa                     Benin  2017  0.710000  0.130000
2  Africa              Burkina Faso  2017  0.622000  0.056000
3  Africa                Cabo Verde  2017  0.243000  0.722000
4  Africa  Central African Republic  2017  0.635539  0.005440

# **A few more things**

In [72]:
# (Optional) Duplicate the dataframe
dd = d

In [73]:
# Duplicate year variable
dd['Year_str'] = dd['Year'].astype(str)

# Check
dd.head()

   Region                 Territory  Year  Cannabis   Cocaine Year_str
0  Africa                    Angola  2018  0.788358  0.025058     2018
1  Africa                     Benin  2017  0.710000  0.130000     2017
2  Africa              Burkina Faso  2017  0.622000  0.056000     2017
3  Africa                Cabo Verde  2017  0.243000  0.722000     2017
4  Africa  Central African Republic  2017  0.635539  0.005440     2017

# **4. Indexing**

In [74]:
# Create an index
# ESTO NO ES FUNCIONAL DADO QUE LOS INDICES YA ESTAN EN LA BASE
idx = pd.MultiIndex.from_product([dd['Territory'].unique(),
                                 range(dd.Year.min(),dd.Year.max()+1)],
                                 names = ['Territory' , 'Year'])
# Reindex the dataframe
dd = dd.set_index(['Territory','Year'])

# Check
dd.head

<bound method NDFrame.head of                                 Region  Cannabis   Cocaine Year_str
Territory                Year
Angola                   2018   Africa  0.788358  0.025058     2018
Benin                    2017   Africa  0.710000  0.130000     2017
Burkina Faso             2017   Africa  0.622000  0.056000     2017
Cabo Verde               2017   Africa  0.243000  0.722000     2017
Central African Republic 2017   Africa  0.635539  0.005440     2017
...                                ...       ...       ...      ...
United Kingdom           2018   Europe  0.222805  0.176871     2018
Australia                2017  Oceania  0.362000  0.007000     2017
                         2019  Oceania  0.331903  0.014160     2019
New Zealand              2016  Oceania  0.496000  0.005000     2016
                         2017  Oceania  0.496000  0.005000     2017

[254 rows x 4 columns]>

# **5. Basic Statistics**

In [75]:
# By variable
dd[['Cannabis','Cocaine']].describe()

         Cannabis     Cocaine
count  254.000000  254.000000
mean     0.311905    0.143286
std      0.221206    0.195401
min      0.004014    0.000857
25%      0.132206    0.013675
50%      0.256790    0.066583
75%      0.471201    0.193046
max      0.969000    0.906263

In [76]:
# By vriable and by year
dd[['Cannabis','Cocaine']].groupby('Year').describe()

     Cannabis                                                              \
        count      mean       std       min       25%       50%       75%
Year
2015     45.0  0.269199  0.202247  0.011211  0.107439  0.233000  0.348238
2016     51.0  0.298869  0.220893  0.004014  0.114024  0.262295  0.481403
2017     70.0  0.340384  0.229476  0.007078  0.178570  0.309500  0.468789
2018     51.0  0.316602  0.225353  0.021705  0.136859  0.250445  0.517297
2019     37.0  0.321462  0.224579  0.023411  0.113461  0.269672  0.545412

               Cocaine                                                    \
           max   count      mean       std       min       25%       50%
Year
2015  0.831445    45.0  0.141653  0.206507  0.001552  0.016821  0.074000
2016  0.815385    51.0  0.153979  0.221020  0.000955  0.010612  0.069611
2017  0.969000    70.0  0.131348  0.183711  0.000857  0.010250  0.049850
2018  0.813699    51.0  0.148254  0.180748  0.002196  0.026162  0.078049
2019  0.783333    37.0  0.146272  0.194458  0.002393  0.015987  0.074510


           75%       max
Year
2015  0.166680  0.898503
2016  0.194415  0.906263
2017  0.168254  0.814189
2018  0.217853  0.869489
2019  0.215134  0.885469

In [78]:
# By vriable and by Region
dd[['Cannabis','Cocaine']].groupby('Territory').describe()

                                   Cannabis                                \
                                      count      mean       std       min
Territory
Albania                                 3.0  0.140170  0.087543  0.062753
Andorra                                 5.0  0.546112  0.074848  0.436170
Angola                                  1.0  0.788358       NaN  0.788358
Armenia                                 1.0  0.021705       NaN  0.021705
Australia                               2.0  0.346952  0.021282  0.331903
...                                     ...       ...       ...       ...
Ukraine                                 2.0  0.101033  0.004384  0.097933
United Kingdom                          4.0  0.238801  0.011056  0.222805
United States of America                5.0  0.192829  0.019911  0.166708
Uruguay                                 5.0  0.130849  0.028017  0.105960
Venezuela (Bolivarian Republic of)      5.0  0.583105  0.141465  0.415793

                                                                            \
                                         25%       50%       75%       max
Territory
Albania                             0.092671  0.122588  0.178879  0.235169
Andorra                             0.507143  0.575129  0.586387  0.625731
Angola                              0.788358  0.788358  0.788358  0.788358
Armenia                             0.021705  0.021705  0.021705  0.021705
Australia                           0.339428  0.346952  0.354476  0.362000
...                                      ...       ...       ...       ...
Ukraine                             0.099483  0.101033  0.102583  0.104133
United Kingdom                      0.236628  0.242135  0.244308  0.248128
United States of America            0.178000  0.197435  0.210000  0.212000
Uruguay                             0.117428  0.119929  0.133000  0.177928
Venezuela (Bolivarian Republic of)  0.512706  0.545694  0.658000  0.783333

                                   Cocaine                                \
                                     count      mean       std       min
Territory
Albania                                3.0  0.237495  0.116165  0.107287
Andorra                                5.0  0.180907  0.033126  0.150000
Angola                                 1.0  0.025058       NaN  0.025058
Armenia                                1.0  0.006202       NaN  0.006202
Australia                              2.0  0.010580  0.005063  0.007000
...                                    ...       ...       ...       ...
Ukraine                                2.0  0.004235  0.004778  0.000857
United Kingdom                         4.0  0.146565  0.025849  0.118270
United States of America               5.0  0.092601  0.039500  0.069611
Uruguay                                5.0  0.862171  0.028476  0.814189
Venezuela (Bolivarian Republic of)     5.0  0.212896  0.109590  0.043093


                                         25%       50%       75%       max
Territory
Albania                             0.190988  0.274688  0.302598  0.330508
Andorra                             0.152047  0.170213  0.214660  0.217617
Angola                              0.025058  0.025058  0.025058  0.025058
Armenia                             0.006202  0.006202  0.006202  0.006202
Australia                           0.008790  0.010580  0.012370  0.014160
...                                      ...       ...       ...       ...
Ukraine                             0.002546  0.004235  0.005925  0.007614
United Kingdom                      0.129809  0.145560  0.162316  0.176871
United States of America            0.075400  0.076000  0.078996  0.163000
Uruguay                             0.861000  0.869489  0.880708  0.885469
Venezuela (Bolivarian Republic of)  0.183333  0.248000  0.252541  0.337512

[92 rows x 16 columns]

# **6. Filters and PIVOTS**

## Simple Filters

In [79]:
# Filter by country name and save it
Africa = dd.filter(like = 'Africa', axis=0)
print(Africa)

                               Region  Cannabis   Cocaine Year_str
Territory                Year
Central African Republic 2017  Africa  0.635539  0.005440     2017
South Africa             2015  Africa  0.078000  0.054000     2015
                         2017  Africa  0.350144  0.033963     2017
                         2018  Africa  0.433310  0.041638     2018

In [80]:
# Filter by Year and save it
Year18 = dd.filter(like = '2018', axis=0)
print(Year18)

                                           Region  Cannabis   Cocaine Year_str
Territory                          Year
Angola                             2018    Africa  0.788358  0.025058     2018
Nigeria                            2018    Africa  0.539000  0.039000     2018
South Africa                       2018    Africa  0.433310  0.041638     2018
Togo                               2018    Africa  0.813699  0.057534     2018
Bahamas                            2018  Americas  0.755102  0.244898     2018
Brazil                             2018  Americas  0.058061  0.140603     2018
Chile                              2018  Americas  0.215601  0.705128     2018
Colombia                           2018  Americas  0.612521  0.284787     2018
Costa Rica                         2018  Americas  0.290000  0.248000     2018
El Salvador                        2018  Americas  0.614243  0.111276     2018
Guatemala                          2018  Americas  0.390244  0.078049     2018
Honduras                           2018  Americas  0.518732  0.314121     2018
Mexico                             2018  Americas  0.316154  0.134937     2018
Panama                             2018  Americas  0.281818  0.572727     2018
Puerto Rico                        2018  Americas  0.224909  0.053809     2018
United States of America           2018  Americas  0.166708  0.078996     2018
Uruguay                            2018  Americas  0.119929  0.869489     2018
Venezuela (Bolivarian Republic of) 2018  Americas  0.658000  0.248000     2018
Armenia                            2018      Asia  0.021705  0.006202     2018
China, Macao SAR                   2018      Asia  0.022472  0.011236     2018
Indonesia                          2018      Asia  0.157428  0.002196     2018
Philippines                        2018      Asia  0.161762  0.004390     2018
Türkiye                            2018    Europe  0.083061  0.028952     2018
Albania                            2018    Europe  0.122588  0.274688     2018
Andorra                            2018    Europe  0.586387  0.214660     2018
Austria                            2018    Europe  0.330193  0.107005     2018
Belgium                            2018    Europe  0.347692  0.257179     2018
Bulgaria                           2018    Europe  0.070572  0.034148     2018
Croatia                            2018    Europe  0.141473  0.019225     2018
Cyprus                             2018    Europe  0.515862  0.159310     2018
Czechia                            2018    Europe  0.250445  0.007265     2018
Denmark                            2018    Europe  0.687808  0.173913     2018
Finland                            2018    Europe  0.183432  0.004438     2018
Germany                            2018    Europe  0.579022  0.064559     2018
Greece                             2018    Europe  0.072374  0.029854     2018
Hungary                            2018    Europe  0.674000  0.030000     2018
Ireland                            2018    Europe  0.231244  0.221045     2018
Italy                              2018    Europe  0.113173  0.202617     2018
Lithuania                          2018    Europe  0.030057  0.004062     2018
Luxembourg                         2018    Europe  0.259016  0.206557     2018
Malta                              2018    Europe  0.132244  0.267650     2018
Norway                             2018    Europe  0.239170  0.014719     2018
Poland                             2018    Europe  0.326871  0.027266     2018
Portugal                           2018    Europe  0.406347  0.202240     2018
Romania                            2018    Europe  0.543198  0.014985     2018
Serbia                             2018    Europe  0.038802  0.004218     2018
Slovakia                           2018    Europe  0.224355  0.009770     2018
Slovenia                           2018    Europe  0.103247  0.064935     2018
Spain                              2018    Europe  0.280747  0.437651     2018
Sweden                             2018    Europe  0.190734  0.029123     2018
United Kingdom                     2018    Europe  0.222805  0.176871     2018

## **Simple Pivots**

In [88]:
# Creating is a dataframe with the time-serie of Cannabis and Cocaine
ftr = dd.filter(like = 'Cannabis', axis=0)
ts_Cannabis = d.pivot(index = 'Year',
                 columns = 'Territory',
                 values = 'Cannabis')
print(ts_Cannabis)

Territory   Albania   Andorra    Angola   Armenia  Australia   Austria  \
Year
2015       0.235169  0.436170       NaN       NaN        NaN  0.241591
2016            NaN  0.507143       NaN       NaN        NaN  0.309284
2017       0.062753  0.625731       NaN       NaN   0.362000  0.332246
2018       0.122588  0.586387  0.788358  0.021705        NaN  0.330193
2019            NaN  0.575129       NaN       NaN   0.331903       NaN

Territory   Bahamas  Belarus   Belgium  Benin  ...    Sweden  Switzerland  \
Year                                           ...
2015            NaN      NaN  0.311871    NaN  ...  0.137292          NaN
2016       0.755102    0.006  0.340917    NaN  ...  0.198000          NaN
2017            NaN      NaN  0.342762   0.71  ...       NaN          NaN
2018       0.755102      NaN  0.347692    NaN  ...  0.190734          NaN
2019            NaN      NaN       NaN    NaN  ...       NaN        0.332

Territory      Togo  Trinidad and Tobago   Türkiye   Ukraine  United Kingdom  \
Year
2015            NaN                  NaN  0.059996       NaN        0.248128
2016            NaN             0.233333       NaN       NaN        0.243035
2017       0.812000                  NaN  0.064042  0.097933        0.241236
2018       0.813699                  NaN  0.083061       NaN        0.222805
2019            NaN                  NaN  0.109791  0.104133             NaN

Territory  United States of America   Uruguay  \
Year
2015                       0.212000  0.133000
2016                       0.197435  0.117428
2017                       0.178000  0.177928
2018                       0.166708  0.119929
2019                       0.210000  0.105960

Territory  Venezuela (Bolivarian Republic of)
Year
2015                                 0.512706
2016                                 0.545694
2017                                 0.415793
2018                                 0.658000
2019                                 0.783333

[5 rows x 92 columns]

# **7. Basic Linear/Bar Graph**

In [97]:
# Graph the Distribution of Cannabis in percentages, in Africa
fig = px.line(Africa, x = Africa.index.get_level_values(1), y='Cannabis')
fig.show()